numpy
scipy
pandas
openai==0.28.1
langchain
jupyter
python-dotenv
chromadb
tiktoken
pypdf
tqdm
pytesseract
pdf2image
PyPDF2
reportlab
ocr-nanonets-wrapper
PyMuPDF
opencv-python
unstructured
pypdfium2
boto3
pdfminer
pdfminer.six
amazon-textract-caller
neo4j
wikipedia
google-search-results
deeplake
gitpython
faiss-cpu
google-api-python-client
html2text
