numpy
scipy
pandas
openai
langchain
jupyter
python-dotenv
chromadb
tiktoken
pypdf
tqdm
pytesseract
pdf2image
PyPDF2
reportlab
ocr-nanonets-wrapper
PyMuPDF
opencv-python
unstructured
pypdfium2
boto3
pdfminer
pdfminer.six
amazon-textract-caller
neo4j
